@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700;900&display=swap');
body{
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-color);
}
:root{
    --bg-color: #f0f9ff;
    --text-color: #160b38;
    --dark-btn: #3B1C99;
    --soft-btn: #8054F6;
}
.H1-Jost{
    position: relative;
    font-family: 'Jost', sans-serif;
    font-size: 93px;
    font-weight: 900;
    line-height: 135px;
    color: var(--text-color);
    margin: 0;
}
.H1-Jost:before{
    content: " ";
    background-image: url(../img/TitleCorner.png);
    background-position: center;
    background-size: contain;
    position: absolute;
    left: -20px;
    top: 5px;
    width: 35px;
    height: 39px;
    transform: rotate(8deg);
}
.H2-Jost{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 46px;
    color: var(--text-color);
    margin: 0;
}
.Menu-Links{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    color: var(--text-color);
    text-decoration: none;
}
.Dark-Btn{
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    background-color: var(--dark-btn);
    width: 200px;
    height: 70px;
    border-radius: 20px 20px 0px 20px;
    cursor: pointer;
}
.Soft-Btn{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: #fff;
    background-color: var(--soft-btn);
    width: 200px;
    height: 70px;
    border-radius: 20px 20px 0px 20px;
    cursor: pointer;
}
.Container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.Navbar{
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    margin-top: 35px;
    height: 70px;
}
.Navbar ul{
    margin: 0;
    margin-left: auto;
}
.Navbar ul li{
    display: inline-block;
    margin: 0px 20px;
}
.Navbar ul li:last-child{
    margin-right: 0px;
}
.Content_404{
    display: grid;
    grid-template-columns: 50% 50%;
}
.MessageText{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.MessageText button{
    margin-top: 40px;
}
.Illus{
    padding-top: 100px;
}
.Illus img{
    width: 700px;
}